# files #
*.mp3
*.wav
*.jpg
*.mp4
*.part



# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

.history

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/node_modules
/.pnp
.pnp.js
package-lock.json
/build

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Distribution directories
dist/

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity