.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-title {
  padding: 20px 0px 0px 0px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Home {
  text-align: center;
  height: 100vh;
  overflow: hidden;
}
.header-title {
  margin: -4% 0% 0% 0%;
}

.header-bar {
  justify-content: right;
  display: grid;
  margin: 1% 2% 0% 0%;
  grid-auto-flow: column dense;
}

.drawerPaper {
  align-items: "left";
  white-space: "nowrap";
  width: 280px;
}

.drawerPaperClose {
  overflow-x: "hidden";
}

.drawer {
  font-size: 300%;
}

.main-page {
  display: inline-block;
  display: flex;
  justify-content: center;
  margin: 2%;
}

.script-page {
  width: 50vw;
  height: 85vh;
  overflow: visible;
  font-size: 1.3rem;
  line-height: 2rem;
  align-items: center;
  border: lightslategray;
  border-style: double;
  padding: 2%;
}

.script {
  padding-right: 2vw;
  height: 70vh;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  text-align: left;
}

.right-page {
  display: table-cell;
  vertical-align: middle;
  width: 50vw;
}

.video-container {
  width: 90%;
  height: 50%;
  margin-left: 5%;
}
.preview {
  position: absolute;
  margin-left: 2%;
  margin-top: -15vh;
  z-index: 100;
}

.progressBar-container {
  margin-top: 2%;
  top: 0px;
  height: 5vh;
  width: 90%;
  margin-left: 5%;
}

.progressBar {
  top: 0px;
  height: 200px;
  width: 100%;
}

.time-progress {
  font-weight: 600;
  font-size: 1.5em;
  color: black;
  margin-top: -57px;
  margin-left: 95%;
  position: relative;
  z-index: 10;
}

.container-wrapper {
  max-width: 80%;
  margin: auto;
  display: grid;
  grid-auto-flow: row;
}

.container-wrapper > div {
  padding: 1px 0px;
  margin-top: 1px;
  text-align: center;
}

.voice-button {
  font-size: large;
  display: inline-block;
  font-weight: 500;
  border: solid dodgerblue;
  color: dodgerblue;
  border-width: 2px;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 5px 0px 5px;
}

.tool-bar {
  display: flex;
  height: 100px;
  gap: 3%;
  margin-bottom: 10px;
  border: lightslategray;
  border-style: double;
  padding: 2%;
}

.tool-icon {
  height: 100%;
}

.segments-container {
  display: inline-block;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100%;
}

.text-option-item {
  display: inline-flex;
  margin: 1vw 1vw 0 1vw;
  padding-bottom: 12px;
  padding-top: 12px;
  width: 21vw;
  height: 30vh;
  overflow-y: hidden;
  border-style: solid;
  border-width: 1px;
  border: 1.5px solid gray;
  border-radius: 20px;
}

.mid-text-option-item {
  display: inline-flex;
  margin: 1vw 1vw 0 1vw;
  padding-bottom: 12px;
  padding-top: 12px;
  width: 21vw;
  height: 30vh;
  overflow-y: hidden;
  border-style: solid;
  border-width: 1px;
  border: 1.5px solid;
  border-radius: 20px;
}

.text-option-text {
  display: block;
  text-align: left;
  margin: 1vh;
  margin-left: 1vw;
  width: 100%;
  font-size: 23px;
  line-height: 1.5;
}
.text-option-meta {
  margin-bottom: 1vh;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.scene-number {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
}

.scene-number {
  text-align: right;
}

.word:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 128, 0.5);
}

.word-review {
  background-color: lightsalmon;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.markers {
  display: flex;
  gap: 10px;
  font-size: 25px;
  margin-bottom: 10px;
}

.WrapperBlock {
  margin-bottom: 5em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.heading {
  font-weight: 500;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  justify-self: start;
  max-width: 100%;
  text-align: left;
}

.text {
  font-size: 1em;
  float: right;
  clear: right;
}

.time {
  font-weight: 500;
  cursor: pointer;
  justify-self: start;
}

.time:hover {
  text-decoration: underline;

  /* color: blue; */
}

.headingEditable {
  cursor: pointer;
}

.headingNotEditable {
  cursor: no-drop;
}

.EditLabel {
  margin-right: 0.5em;
}
